<html>
  <head>
    <title>
      Read Watch Listen
    </title>
    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js"></script>
    <script src="views/scripts/app.js"></script>
  </head>
  <body ng-app="Read">
    <nav>
    </nav>
    <div id="main">
      <div id="container">
        <div class="portal left" ng-controller="readCtrl">
          <div class="text">
            <h1 class="caption" ng-click="onClick()" ng-init="initCookie()"> Read</h1>
          </div>
        </div>
        <div class="portal center" ng-controller="watchCtrl">
          <div class="text">
            <h1 class="caption">Watch</h1>
          </div>
        </div>
        <div class="portal right" ng-controller="listenCtrl">
          <div class="text">
            <h1 class="caption">Listen</h1>
          </div>
        </div>
      </div>
    </div>

    <footer>
    </footer>
  </body>
</html>
