<html>
  <head>
    <title>
      Read Watch Listen
    </title>
    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
  </head>
  <body>
    <nav>
    </nav>

    <div id="main">
      <div id="container">
        <div class="portal left">
          <div class="text">
            <p>Read</p>
          </div>
        </div>
        <div class="portal center">
          <div class="text">
            <p>Watch</p>
          </div>
        </div>
        <div class="portal right">
          <div class="text">
            <p>Listen</p>
          </div>
        </div>
      </div>
    </div>

    <footer>
    </footer>
  </body>
</html>
