<html>
<head>
<title>I want to read a story!</title>
<link href="story.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Bitte' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="Read.js"></script>	

</head>


			<a href="#" id="readButton" target="_blank"><span>I want to read a story!</span></a>

<script type="text/javascript">
document.getElementById("readButton").addEventListener("click",f1,false);
</script> 

<body id="bd">

			
			
			
			
</body>
</html>
